In [ ]:
data lake VS data warehouse

In [ ]:
x = 1
y = 2 
z = x + y 
print (z)

In [ ]:
변수선언 
자료형
자료구조
반복문
조건문
함수
클래스

# Integer

In [ ]:
i = -7
j = 12
print(i,j)

# float

In [ ]:
x = 3.14 ## 실수
y = -34.5
print(x*y)

# String

In [ ]:
a = 'hello'
b = "hello"
c = '''hello'''
print(a)
print(b)
print(c)

# Boolean

In [ ]:
a = True
b = False
print(a,b)

# None Object

In [ ]:
z = None
print(z)

# Object type

In [ ]:
a = True
b = "is of"
c = True
d = 1.4
print(a, "is of", type(a))
print(a, b, type(a))
print(type(a),type(b),type(c),type(d))
## print(ab)  ab 변수는 없는 거니까 에러

In [ ]:
a = 1 
b = "2"
print(1,2)
print(type(a), type(b)) ## type를 치지 않으면 데이터가 숫자인지 텍스트인지 헷갈릴 수 있다

# Comment

In [ ]:
print("hi")

# 사칙연산

In [ ]:
x = 4.5
y = 2
print(x+y)
print(x*y)
print(x/y)
print(x//y)
print(x-y)
print(x%y)
print(x**y)

# 수치변환

In [ ]:
a = 2019#10진수
b = 0o10#8진수
c = 0x10#16진수
d = 0b10#2진수
print(a,'10진수', b, '8진수',c,d)
print(type(a),'10진수',type(b),'8진수',type(c),type(d))

####### 8진수는 INT이다

In [ ]:
e = oct(a)
f = hex(a)
g = bin(a)
print(e,f,g)
print(type(e),type(f),type(g)) #

In [12]:
13+15.4

28.4

In [14]:
z=float(3)+float(5) #(함수), - 변수-
z

8.0

In [15]:
#print(int(z))
a = str(2)
print(type(a))

<class 'str'>

In [ ]:

x=3
y=4
#y=print(y*=x)->(y=y+x) 오른쪽을 보게됨

In [ ]:
## print안에서 += *= 연산 안된다

x=3
y=4
y *= x

print(y)

# Collection

In [20]:
#Tuple(튜플) 안에 내용물 수정 불가
#list 보다 속도가 빠르다
    
a = (123,545,92)
b = ()
c = ("asia")
d = (2,3.0,False,"arg", None)
print(a)
print(b)
print(c)
print(d)
print(type(a),type(b),type(c),type(d))

(123, 545, 92)
()
asia
(2, 3.0, False, 'arg', None)
<class 'tuple'> <class 'tuple'> <class 'str'> <class 'tuple'>

In [22]:
a[0] + 5

128

In [24]:
#a[0] = 120 #새로운 assign이 안됨
print(type(a[0]))

<class 'int'>

# list

In [25]:
#index(각 개체를 지정)
a = [123,545,92]
b = []
c = ["asia"]
d = [2,3,False,"arg", None]
print(a)
print(b)
print(c)
print(d)
print(type(a),type(b),type(c),type(d))

[123, 545, 92]
[]
['asia']
[2, 3, False, 'arg', None]
<class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [26]:
a[0] + 5

128

In [27]:
a[0]= 120

In [28]:
print(a[0])

120

In [29]:
print(type(a[0]))

<class 'int'>

In [30]:
#print(oct(hex(bin(10))))
#'str' object cannot be interpreted as an integer 
#한번 진수를 바꾸면 아웃풋이 '스트링'이 되기때문에 안되는 거임
#진수가 또 레터가 들어가기때문에 단순히 int로는 변환이 불가능하다
print(hex(bin(10)))

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
#그렇다면 어떻게하면 '스트링'으로 변한 진수를 어떻게 바꿔서 다시한번 진수를 사용해야하는가?

In [34]:
a = bin(10)
c= 0b1010
print(a)
hex(c)

0b1010

'0xa'

# Indexing

In [36]:
d = (2,3.0,False,"arg", None)
print(d[0])
print(d[1])
print(d[-1])
print(d[-2])

2
3.0
None
arg

In [37]:
e = list(d)
print(type(e))

<class 'list'>

In [38]:
print(tuple(e))

(2, 3.0, False, 'arg', None)

# slicing

In [35]:
#(2,3.0,False,"arg", None)
print(d[1:3])#시작은 0부터 끝자리 전까지 출력
print(d[2:4])
print(d[-3:-1])
print(d[0:])
print(d[:0])
print(d[-2:0])
print(d[-1:-3])

[3, False]
[False, 'arg']
[False, 'arg']
[2, 3, False, 'arg', None]
[]
[]
[]

# IN operator

In [16]:
t = (123, 54, 92, 87, 24, 24)
x = [123, 54, 92, 87, 24]

In [39]:
print(x, 123 in x)  # 다 boolean type 
print(t, 123 in t)
print(x, 999 not in x)
i==3 or i==6 or i==9 in [3,6,9] i%3==0

SyntaxError: invalid syntax (<ipython-input-39-d00933749f67>, line 4)

# LEN(Length)

In [18]:
print(len(x))

5

In [19]:
print(t.count(24))       #t.count(value, /)
print(x.append(10))    #append -> shift tab

2
None

# FUNCTION(append, extend, revese sort etc)

In [40]:
x = [123, 54, 92, 87, 24]

print(x.append(10))

#x.append([10,20,30])         #x.append(OBJECT, /)

#x.clear()

#x.copy()

#x.insert(0,111) #[111, 123, 54, 92, 87, 24, 10]

#x.extend([1,2,3])             #x.extend(ITERABLE, /)

#x.remove(1)   #### remove + insert + extend + del

#del x[0]

#x.reverse()

x.sort()
#x.sort(reverse = True)   #############   x.sort(*, key=None, reverse=False)
#OBJECT 덩어리 전체
#VALUE 특정값
#ITERABLE 하나씩

print(x)

None
[10, 24, 54, 87, 92, 123]

# OBJECT & ITERABLE

In [41]:
#Object : 객체 [1,2,3 ,4,5,6,7,8]  Iterable : 1 , 2 ,3 .... each
x = [123, 54, 92, 87, 24]
y = [313, 254, 492, 857, 224]


x.append([10,20,30])         #x.append(OBJECT, /)
y.extend([1,2,3])             #x.extend(ITERABLE, /)
print(x)
print(y)

[123, 54, 92, 87, 24, [10, 20, 30]]
[313, 254, 492, 857, 224, 1, 2, 3]

In [42]:
a = [1,2,3]
b = [4,5,6]
c = a+b
#a.extend(b)
#a.extend([4,5,6])
print(c)

[1, 2, 3, 4, 5, 6]

# SET

In [44]:
a = {1,2,3}
b = {3,4,5}
print(type(a))

<class 'set'>

# INTERSECTION 교집합

In [46]:
#c = a.intersection(b)
a&b

{3}

# UNION(합집합)

In [47]:
a|b

{1, 2, 3, 4, 5}

In [48]:
a-b

{1, 2}

In [49]:
list(a)
tuple(a)
set(a)

{1, 2, 3}

# DICTIONARY p.61--------------------------------------------------------------------------------

In [50]:
dict(a)  
# dict(self, /, *args, **kwargs)    
#딕셔너리는 KEY 또는 VALUE 형태 만 가능

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [9]:
 a = {"a":1,"b":2}       #{'KEY':'VALUE'}

In [52]:
a.keys()   # D.keys() -> a set-like object providing a view on D's keys
#a.values()
#a.items()        # [list1(tuple1,tuple2),list2(tuple3,tuple4)]

AttributeError: 'set' object has no attribute 'keys'

In [53]:
b=[4,5,6]
b.count(4)

1

In [54]:
a[1]  #딕셔너리는 인덱싱은 안된다 KEY값을 넣어야 한다.

TypeError: 'set' object is not subscriptable

In [56]:
a = {1:"하나", 2:"둘"}
a[1]

'하나'

In [58]:
a = {1:"하나", 2:"둘", 4:"셋"}
#a[3] 인덱싱(indexing)시 "KEY"값 == 4 로 찾는거다
a[4]

'셋'

In [59]:
a = {1:[1,2,3], 2:[4,5,6]}   #a = {1(자리값이 아님):[1,2,3], 2:[4,5,6]}
a[1]

[1, 2, 3]

In [61]:
a = {"c":1,"b":2}
a["c"] = "aaa"           # 키값을 넣어주고 바로 변경
print(a)
print(a["b"])
print(a['c'])

{'c': 'aaa', 'b': 2}
2
aaa

# END(p.68)

# --------------------------------------------------------------------------------------------------------------

# CONDTION(조건문)  IF

In [62]:
if<조건문>:
    <구문>

SyntaxError: invalid syntax (<ipython-input-62-5cdc04c587d4>, line 1)

In [64]:
i = 20
if i >= 20:
    print("성인입니다")
else:
    print("미성년입니다")

성인입니다

# 비교연산자

example)  
애기:5살이하
아동:10살이하
미성년:19살이하
성인:20살 이상

In [65]:
man = 17
if man<= 5: 
    print("애기")
elif man <= 10:
    print("아동")
elif man <= 19:
    print("미성년")
else:
    print(성인)

미성년

==
!= 
<
>
<=
>=

In [30]:
and   
or
not

SyntaxError: invalid syntax (<ipython-input-30-fcd788fdea76>, line 1)

a = [1,2,3]
b = [1,2,3]
a == b ; TRUE
a != b ; FALSE
"가" = "나" ERROR
"가" != "나" TRUE
hex(10) == 10 FALSE 다른 숫자 type

In [35]:
a = "나"
type(a)

str

In [39]:
int(10) == hex(10)

False

In [46]:
x = ''  # 빈칸일 시 FALSE 로 인식 한다
y = ['a']
if x:
    print('x is true')
else:
    print('x is false')
    
if y:
    print('y is true')
else:
    print('y is false')

x is false
y is true

if<조건문>:
    <구문>
    
    
    
if<조건문>:
    <구문>
else:
    <구문>
    
    
    
if<조건문>:
    <구문>
elif<조건문>:
    <구문>
else:
    <구문>

# (p.75)

In [66]:
 x = 90
if x >= 80 and x<100:  #80<= x < 100
    print("TRUE")
else:
    print("false")

TRUE

# IS

In [67]:
a = [1,2,3]
b = [1,2,3]
print(a==b)
print(a is b)  ## is는 a와 b 사이 주소(memory address)값의 비교
print(id(a)==id(c))

True
False
False

# 객체 참조 객체복사***********************

In [68]:
c = a    #참조  같은 address에서 참조하여 가져온 값
print(c)
print(id(a))
print(id(c))



c=a[:] #복사  address에서 복사한 것을 다른 address에 paste
print(c)
print(id(a))
print(id(c))

#id(): address(주소값)

[1, 2, 3]
9766440
9766440
[1, 2, 3]
9766440
9720744

# --------------------------------------------------------------------------------------------------------------

# 반복문

# FOR

In [55]:
for<반복변수(아이템)> in <반복범위(집합값)>:
    <구문>
    
for<반복변수(아이템)> in <반복범위(집합값)>:
    if<조건문>:
        <구문>
    else:
        <구문>

SyntaxError: invalid syntax (<ipython-input-55-1f0121fee2e4>, line 1)

In [69]:
# 1부터 10까지 출력하는 것
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
for i in [1,2,3]:
    print(i)

1
2
3

In [71]:
#for i in range(4):               
#    print(i)
    
for i in range(1,4,2):
    print(i)
#range(stop) -> range object
#range(start, stop[, step]) -> range object

1
3

# FOR (DICTIONARY; p.86)

In [103]:
a = {"a":1, "b":2}
for key,value in a:
    print(key)

ValueError: not enough values to unpack (expected 2, got 1)

In [104]:
a = {"a":1, "b":2}   # 딕셔너리는 tuple로 1차로 group 그담에 list로 group되있다.
for key in a:
    print(key,a[key])
    
print(a["a"])
print(a, )
print(a(1))

a 1
b 2
1

TypeError: 'dict' object is not callable

In [115]:
a = range(1,101,1)
for i in a:
    if i%3 == 0:
        print("짝")
    else:
        print(i)

1
2
짝
4
5
짝
7
8
짝
10
11
짝
13
14
짝
16
17
짝
19
20
짝
22
23
짝
25
26
짝
28
29
짝
31
32
짝
34
35
짝
37
38
짝
40
41
짝
43
44
짝
46
47
짝
49
50
짝
52
53
짝
55
56
짝
58
59
짝
61
62
짝
64
65
짝
67
68
짝
70
71
짝
73
74
짝
76
77
짝
79
80
짝
82
83
짝
85
86
짝
88
89
짝
91
92
짝
94
95
짝
97
98
짝
100

In [114]:
range(1,10,1)

range(1, 10)

In [75]:
for i in range(10):
    print(i) 
a=[i for i in range(10)] #한줄로: 메모리와 cpu에 부하를 덜줌

a=[i for i in "ant"]
a=[i for i in {"딕":1, "셔":2, "너":3}]
a=[i for i in [1,2,3]]
[i for i in range(1,10) if i%2==0]

0
1
2
3
4
5
6
7
8
9

[2, 4, 6, 8]